*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

body {
  font-size: inherit;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 100vh;
}

h1 {
  margin-bottom: 0.5rem;
  padding: 0 0 1rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.child-container {
  background-color: #EDF2EF;
  display: flex;
  flex-direction: column;
  border: 1px solid #006100;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 45vw;
  height: 62vh;
  border-radius: .2rem;
  color: #006100;
}

form {
  background-color: #EDF2EF;
  border: 1px solid #006100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 45vw;
  height: 62vh;
  color: #006100;
  border-radius: .2rem;
  position: relative;
}

form::after {
  border-top-style: 5px solid grey;
}

form button {
  margin: 0 0 .5rem;
  background-color: #6BA;
  border: none;
  padding: .3rem 1.5rem;
  border-radius: .2rem;
  color: #006100;
  font-size: .7rem;
  cursor: pointer;
}

form button:hover {
  background-color: #6BAB90;
  color: #fff;
}

form button:focus {
  outline: none;
  background-color: #6BAB90;
  color: #fff;
}

.form-child {
  margin: .5rem 0;
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.form-child input {
  border: 1px solid #006100;
}

.form-child input:focus {
  outline: none;
  border: 1px solid #E1F0C4;
}
/* #BDE66E */

.dollar-amounts {
  list-style: none;
  margin: .7rem 0; 
}

@media screen and (max-width: 700px) {
  h1 {
    margin-bottom: 0.5rem;
    padding: 0 0 1rem;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
  }
  
  .child-container {
    min-width: 275px;
    min-height: 375px;
  }

  form {
    min-width: 275px;
    min-height: 375px;
  }

  .form-child {
    margin-bottom: .5rem;
  }
}