*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

body {
  font-size: inherit;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
  background-color: #F1F3F6;
  height: 100vh;
  color: #262626;
}

.heading {
  text-align: center;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
  border-radius: .2rem;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

.child-container {
  margin: 0 0 2rem 1rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border: 1px solid #262626;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 45vh;
  border-radius: .2rem;
}

form {
  margin: 0 1rem 2rem 0;
  background-color: #ffffff;
  border: 1px solid #262626;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: .2rem;
  position: relative;
}

.container-heading {
  background-color: #e1e1e1;
  border-bottom: 1px solid #262626;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  width: 100%;
  margin: 0;
  padding: .5rem 1rem;
  display: flex;
  justify-content: flex-end;
}

.container-heading button {
  padding: 4px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.container-heading button:hover {
  background-color: transparent;
}

.container-heading button:focus {
  outline: none;
  background-color: inherit;
}

form::after {
  border-top-style: 5px solid grey;
}

.button-container {
  margin: 0 auto 1rem;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button-container button {
  background-color: #6BA;
  text-align: center;
  border: none;
  padding: .5rem 1.8rem;
  border-radius: .2rem;
  color: #fff;
  font-size: .7rem;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #6BAB90;
  color: #fff;
}

.button-container button:focus {
  outline: none;
  background-color: lightblue;;
  color: #fff;
}

.form-child {
  margin: 0;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form-child input {
  border: 1px solid #006100;
}

.form-child input:focus {
  outline: none;
  border: 1px solid #E1F0C4;
  background-color: lightblue;
}
/* #BDE66E */

.dollar-amounts {
  display: flex;
  justify-content: space-evenly;
  margin: .7rem 0; 
  padding: .25rem .5rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  h1 {
    margin-bottom: 0.5rem;
    padding: 0 0 1rem;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
  }
  
  .child-container {
    min-width: 275px;
    min-height: 375px;
    margin: 1rem 0 2rem 0;
  }

  form {
    min-width: 275px;
    min-height: 375px;
    margin: 0 0 1rem 0;
  }

  .form-child {
    margin-bottom: 0;
  }
}